<div class='ng-modal' ng-show='show'>
    <div class='ng-modal-overlay' ng-click='hideModal()'></div>
    <div class='ng-modal-dialog' ng-style='dialogStyle'>
        <div class='ng-modal-close' ng-click='hideModal()'>X</div>
        <div class='ng-modal-dialog-content'>
            <hr>
            <form name="editForm" ng-submit="saveChanges(article)">
                <label for="articleTitle">Title: </label>
                <input id="articleTitle" name="articleTitle" type="text" ng-model="article.title" class="wide" required>
                <label for="articleImage">Image link: </label>
                <input id="articleImage" name="articleImage" type="text" ng-model="article.image" class="wide" required>
                <label for="articleDate">Date: </label>
                <input id="articleDate" name="articleDate" type="date" ng-model="article.date" required>
                <label for="articleText">Text: </label>
                <textarea id="articleText" name="articleText" ng-model="article.preview" class="wide" rows="10" required></textarea>
                <button type="submit" ng-disabled="editForm.$invalid">Save</button>
            </form>
            <hr>
        </div>
    </div>
</div>