<hr>
<h2 class="intro-text text-center">Latest
    <strong>news</strong>
</h2>
<hr>

<div class="news-item text-center" ng-repeat="article in news">
    <img class="news-img img-border" ng-src="{{ article.image }}" alt="{{ article.title }}">
    <h2 ng-bind="article.title"></h2>
    <p class="news-date" ng-bind="article.date | date"></p>
    <p ng-bind="article.preview"></p>
    <a ng-href="/news/{{ article.id }}" class="btn btn-more">Read More</a>
    <i class="icon" ng-class="{'icon-heart-o': !article.liked, 'icon-heart': article.liked}" ng-click="like(article.id)" ng-bind="article.likes"></i>
    <i class="icon icon-edit" ng-click="toggleModal(article.id)" ng-if="isEdit">Edit</i>
    <hr>
</div>

<modal-dialog box-width="445px" show="modalShown" article="modalArticle" save="save"></modal-dialog>